.head{
    font-size: 2.5em;
}
body{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-position: center;
    background-image: url(back-img.jpg);
    background-color: rgba(255, 255, 255, 0.486);
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    font-size: 2em;
}

    .btn1{
        margin-top: 50px;
        margin-bottom: 50px;
        font-weight: bold;
        cursor:pointer;
        color: rgb(12, 0, 59);
        padding: 8px;
        border-color: grey;
        background-color: grey;
        margin-top: 10px;
        font-size: 150%;
        border-radius: 8px;
        box-shadow:0 6px 10px 0 black ;
    }
    .btn1:hover{
        box-shadow:0 6px 10px 0 gray ;
        background-color: rgb(182, 182, 182);
    }
    .btn2{
        padding-left: 32.669px;
        padding-right: 32.669px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left:15px;
        font-weight: bold;
        cursor:pointer;
        color: rgb(109, 0, 0);
        padding-top: 8px;
        padding-bottom: 8px;
        border-color: grey;
        background-color: grey;
        margin-top: 10px;
        font-size: 150%;
        border-radius: 8px;
        box-shadow:0 6px 10px 0 black ;
    }
    .btn2:hover{
        box-shadow:0 6px 10px 0 gray ;
        background-color: rgb(182, 182, 182);
    }
    .btn3{
        padding-left: 32.669px;
        padding-right: 32.669px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left:15px;
        font-weight: bold;
        cursor:pointer;
        color: rgb(0, 137, 21);
        padding-top: 8px;
        padding-bottom: 8px;
        border-color: grey;
        background-color: grey;
        margin-top: 10px;
        font-size: 150%;
        border-radius: 8px;
        box-shadow:0 6px 10px 0 black ;
    }
    .btn3:hover{
        box-shadow:0 6px 10px 0 gray ;
        background-color: rgb(182, 182, 182);
    }
    .text{
        font-size: 1.5em;
        font-weight: bold;
    }